* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: crimson;
}

body div {
    float: none;
}

/* HEADER */
header {
    width: 100%;
    height: 80px;
    background-color: #DDDDDD;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header .box {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* LOGO-BOX */

header #logo-box img {
    filter: invert(10%) sepia(31%) saturate(7339%) hue-rotate(221deg) brightness(81%) contrast(102%);
}

/* MAIN NAVBAR */

header .navbar-menu .menu-btn {
    cursor: pointer;
    display: none;
}

header .navbar-menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header .navbar-menu .navbar-main-menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header .navbar-menu .navbar-main-menu li {
    width: 110px;
    height: 100%;
    transition: all 0.33s ease;
}

header .navbar-menu .navbar-main-menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #000000;
    text-decoration: none;
    font-size: 18px;
}

header .navbar-menu .navbar-main-menu li:hover {
    background: #5B2BAE;
}

header .navbar-menu .navbar-main-menu li:hover .btn {
    color: #f9f9f9;
}

header .navbar-main-menu li a img {
    margin: 0px 0px 0px 5px;
    padding: 0px;
    width: 12px;
    filter: none;
}

header .navbar-menu .navbar-main-menu li .active {
    color: #f9f9f9;
    background: #261247;
}

header .submenu-btn:hover img {
    filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(127deg) brightness(99%) contrast(98%);
}

header .active .submenu-btn img {
    filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(127deg) brightness(99%) contrast(98%);
}

header .submenu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

header .submenu-btn:hover {
    color: #f9f9f9;
}

header .navbar-menu input[type="checkbox"] {
    display: none;
}

header #catalogue:checked~.dropdown #catalogue-menu,
header #about:checked~.dropdown #about-menu {
    display: flex;
}

header #catalogue:checked~.dropdown #catalogue-btn img ,
header #about:checked~.dropdown #about-btn  img {
    transform: translate(0px, 0px) rotate(-180deg);
    transition: all 0.33s ease;
}

/* CATALOGUE MENU  &  ABOUT MENU */

header .navbar-main-menu .dropdown .dropdown_menu {
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 80px;
    width: 180px;
    height: auto;
    border: none;
    display: none;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(4px) saturate(180%);
    animation: growDown 350ms ease-in-out forwards;
    transform-origin: top center;
    list-style: none;
}

header .navbar-main-menu .dropdown .dropdown_menu li {
    width: 100%;
    height: 40px;
    border-bottom: solid #64676b 1px;
}

header .navbar-main-menu .dropdown .dropdown_menu li .btn {
    color: #f9f9f9;
}

header .navbar-main-menu .dropdown .dropdown_menu li:hover {
    background: #000000;
}

header .navbar-main-menu .dropdown .dropdown_menu li:hover a {
    color: gold;
}

header .navbar-main-menu .dropdown .dropdown_menu li:last-child {
    border-bottom: none;
}

@keyframes growDown {
    0% {
        transform: scaleY(0);
    }

    25% {
        transform: scaleY(0.5);
    }

    50% {
        transform: scaleY(0.75);
    }

    75% {
        transform: scaleY(1.1);
    }

    100% {
        transform: scaleY(1.0);
    }
}

/* SESSION NAV */

header .navbar-session {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .navbar-session .navbar-session-menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    column-gap: 8px;
}

header .navbar-session .navbar-session-menu li {
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

header .navbar-session .navbar-session-menu li a {
    display: flex;
    border-radius: 25px;
}

header .navbar-session ul li a img {
    display: block;
    min-width: 25px;
    min-height: 25px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    transition: all 0.33s ease;
}

header .navbar-session .navbar-session-menu li p {
    font-size: 12px;
    font-weight: bolder;
    color: #64676b;
    width: fit-content;
    height: fit-content;
}

header .navbar-session .navbar-session-menu li a:hover img {
    filter: invert(20%) sepia(73%) saturate(2194%) hue-rotate(248deg) brightness(87%) contrast(100%);
}

header .navbar-session .navbar-session-menu li:hover a {
    outline-offset: 0.3vh;
    outline: solid #5B2BAE 2.5px;
    transition: all 0.33s ease;
}

/* SEARCH NAV */

header .search-bar {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    border-radius: 60px;
    background: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(4px) saturate(180%);
    border: solid #5B2BAE 1px;
}

header .search-bar input {
    margin: 0px 5px 0px 8px;
    padding: 0px 5px 0px 8px;
    height: 35px;
    flex: 1;
    border: solid transparent 1.5px;
    border-radius: 60px;
    background: transparent;
    outline: none;
    font-size: 16px;
    color: #000000;
}

header .search-bar:hover input,
header .search-bar input:focus {
    outline-offset: 0.2vh;
    border: solid rgba(110, 108, 108, 0.623) 1.5px;
    transition: all 0.33s ease;
}

header .search-bar input::placeholder {
    color: #261247;
}

header .search-bar button {
    display: block;
    margin: 0px 8px 0px 2px;
    padding: 0px 3px 0px 3px;
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent;
    outline: none;
    cursor: pointer;
    background: #000000;
}

header .search-bar button img {
    width: 20px;
    height: 20px;
    transition: all 0.33s ease;
}

header .search-bar button:hover {
    background: #5B2BAE;
    outline-offset: 0.3vh;
    outline: solid #5B2BAE 2.5px;
    transition: all 0.33s ease;
}

/* MEDIA NAV */

header .navbar-media {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .navbar-media .navbar-media-menu {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    column-gap: 8px;
}

header .navbar-media .navbar-media-menu li {
    border-radius: 25px;
}

header .navbar-media .navbar-media-menu li a {
    display: flex;
    border-radius: 25px;
}

header .navbar-media .navbar-media-menu li a img {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    filter: invert(0%) sepia(1%) saturate(7499%) hue-rotate(319deg) brightness(94%) contrast(100%);
    transition: all 0.33s ease;
}

header .navbar-media .navbar-media-menu li a:hover img {
    filter: invert(20%) sepia(73%) saturate(2194%) hue-rotate(248deg) brightness(87%) contrast(100%);
}

header .navbar-media .navbar-media-menu li a:hover {
    outline-offset: 0.3vh;
    outline: solid #5B2BAE 2.5px;
    transition: all 0.33s ease;
}

/* MAIN CONTAINER */

main {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #261247;
}

/* FOOTER CONTAINER */

footer {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

/*---------------------------MEDIA QUERY-----------------------------*/

/* RESPONSIVE HEADER 900PX */

@media (max-width: 900px) {

    /* HEADER */

    header h1 {
        font-size: 22px;
    }

    /* MAIN MENU */

    header .navbar-menu .navbar-main-menu {
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        transition: all 0.55s ease;
        justify-content: center;
        align-items: center;
        border: none;
        position: absolute;
        left: -100%;
        top: 80px;
        background: #000000;
    }

    header .navbar-menu .menu-btn {
        color: #f9f9f9;
        display: block;
    }

    header .navbar-menu .menu-btn:hover .bar1,
    header .navbar-menu .menu-btn:hover .bar2,
    header .navbar-menu .menu-btn:hover .bar3 {
        background-color: #5B2BAE;
        transition: all 0.33s ease;
    }

    header .navbar-menu .menu-btn h3 {
        font-size: 10px;
        margin: 0px;
        padding: 0px;
        color: #000000;
    }

    header .navbar-menu .menu-btn:hover h3 {
        color: #5B2BAE;
        transition: all 0.33s ease;
    }

    header .navbar-menu .menu-btn .bar1,
    header .navbar-menu .menu-btn .bar2,
    header .navbar-menu .menu-btn .bar3 {
        width: 35px;
        height: 4px;
        background-color: #000000;
        margin: 5px 0px;
        border-radius: 2.5px;
    }

    header .change .bar1 {
        transform: translate(0, 9px) rotate(-45deg);
    }

    header .change .bar2 {
        opacity: 0;
    }

    header .change .bar3 {
        transform: translate(0, -9px) rotate(45deg);
    }

    header #click:checked~ul {
        left: 0px;
    }


    header .navbar-menu .navbar-main-menu li {
        height: 65px;
        width: 100%;
        border-bottom: solid #64676b 1px;
    }

    header .navbar-menu .navbar-main-menu li:last-child {
        border: none;
    }

    header .navbar-menu .navbar-main-menu li .btn {
        color: #f9f9f9;
        font-size: 18px;
    }

    header #catalogue:not(:checked)~.dropdown #catalogue-btn img ,
    header #about:not(:checked)~.dropdown #about-btn  img {
        transform: translate(0px, 0px) rotate(-90deg);
        filter: invert(98%) sepia(9%) saturate(130%) hue-rotate(254deg) brightness(113%) contrast(95%);
    }

    header #catalogue:checked~.dropdown #catalogue-btn img ,
    header #about:checked~.dropdown #about-btn  img {
        transform: translate(0px, 0px) rotate(90deg);
    }

    /* CATALOGUE MENU & ABOUT MENU */

    header .navbar-menu .navbar-main-menu .dropdown #catalogue-menu,  
    header .navbar-menu .navbar-main-menu .dropdown #about-menu {
       position: relative;
       left: 100%;
       top: -65px;
    }

    header .navbar-menu .navbar-main-menu .dropdown #catalogue-menu li,  
    header .navbar-menu .navbar-main-menu .dropdown #about-menu li{
       height: 65px;
    }
}

/* END RESPONSIVE HEADER 900 */

/* RESPONSIVE HEADER 768PX */

@media (max-width: 768px) {

    /* HEADER */

    header {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr 4fr;
        grid-template-rows: repeat(2, 1fr);
        width: 100%;
        height: auto;
        text-align: center;
    }

    header .box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 0px;
    }

    header #logo-box {
        margin: 0px 5px 0px -5px;
    }

    header #logo-box img {
        width: 85px;
    }

    header .box:nth-of-type(1) {
        order: 3;
        grid-column: 9/12;
    }

    header .box:nth-of-type(2) {
        order: 1;
        grid-column: 1/2;
    }

    header .box:nth-of-type(3) {
        order: 5;
        grid-column: 5/12;

    }

    header .box:nth-of-type(4) {
        order: 2;
        grid-column: 2/9;
    }

    header .box:nth-of-type(5) {
        order: 4;
        grid-column: 1/5;
    }


    header h1 {
        font-size: 22px;
    }

    /* MEDIA MENU */

    header .navbar-media {
        border-top: solid #000000 2px;
        border-bottom: solid #000000 2px;
    }

    header .navbar-media .navbar-media-menu {
        padding: 5px 0px 5px 0px;
        width: fit-content;
        column-gap: 30px;
    }

    /* SESSION MENU */

    header .navbar-session {
        border-top: solid #000000 2px;
        border-bottom: solid #000000 2px;
    }

    header .navbar-session .navbar-session-menu {
        padding: 5px 0px 5px 0px;
        width: fit-content;
        column-gap: 15px;
    }

    header .navbar-session .navbar-session-menu li p {
        margin: 0px 10px 0px -10px;
    }

    /* MAIN MENU */

    header .navbar-menu .navbar-main-menu {
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        transition: all 0.55s ease;
        justify-content: center;
        align-items: center;
        border: none;
        position: absolute;
        left: -100%;
        top: 128px;
        background: #000000;
    }

    header .navbar-menu .menu-btn {
        color: #f9f9f9;
        display: block;
    }

    header .navbar-menu .menu-btn:hover .bar1,
    header .navbar-menu .menu-btn:hover .bar2,
    header .navbar-menu .menu-btn:hover .bar3 {
        background-color: #5B2BAE;
        transition: all 0.33s ease;
    }

    header .navbar-menu .menu-btn h3 {
        font-size: 12px;
        margin: 0px;
        padding: 0px;
        color: #000000;
    }

    header .navbar-menu .menu-btn:hover h3 {
        color: #5B2BAE;
        transition: all 0.33s ease;
    }

    header .navbar-menu .menu-btn .bar1,
    header .navbar-menu .menu-btn .bar2,
    header .navbar-menu .menu-btn .bar3 {
        width: 35px;
        height: 4px;
        background-color: #000000;
        margin: 5px 0px;
        border-radius: 2.5px;
    }

    header .change .bar1 {
        transform: translate(0, 9px) rotate(-45deg);
    }

    header .change .bar2 {
        opacity: 0;
    }

    header .change .bar3 {
        transform: translate(0, -9px) rotate(45deg);
    }

    header #click:checked~ul {
        left: 0px;
    }

    header .navbar-menu .navbar-main-menu li {
        height: 65px;
        width: 100%;
        border-bottom: solid #64676b 1px;
        overflow: visible;
    }

    header .navbar-menu .navbar-main-menu li:last-child {
        border: none;
    }

    header .navbar-menu .navbar-main-menu li .btn {
        color: #f9f9f9;
        font-size: 20px;
    }

    header #catalogue:not(:checked)~.dropdown #catalogue-btn img ,
    header #about:not(:checked)~.dropdown #about-btn  img {
        transform: translate(0px, 0px) rotate(-90deg);
        filter: invert(98%) sepia(9%) saturate(130%) hue-rotate(254deg) brightness(113%) contrast(95%);
    }

    header #catalogue:checked~.dropdown #catalogue-btn img ,
    header #about:checked~.dropdown #about-btn  img {
        transform: translate(0px, 0px) rotate(90deg);
    }


    /* CATALOGUE MENU & ABOUT MENU */

    header .navbar-menu .navbar-main-menu .dropdown #catalogue-menu,  
    header .navbar-menu .navbar-main-menu .dropdown #about-menu {
       position: relative;
       left: 100%;
       top: -65px;
    }

    header .navbar-menu .navbar-main-menu .dropdown #catalogue-menu li,  
    header .navbar-menu .navbar-main-menu .dropdown #about-menu li{
       height: 65px;
    }
    
    /* SEARCH-BOX */

    header #search-box {
        padding: 0px 8px 0px 8px;
        margin: 0px 5px 0px -5px;
    }

    header .search-bar {
        height:  50px;
    }

}
/* END RESPONSIVE HEADER 768 */

