* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #f9f9f9;
}

body div {
    margin: 0px;
    padding: 0px;
    float: none;
}

/* HEADER */

header {
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header #logo {
    display: block;
    width: 150px;
    height: 100%;
    margin: 0px;
    padding: 5px 0px 5px 0px;
    object-fit: contain;
}

/* MAIN  */

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* VERIFICATION FORM */

main .verification-form {
    width: 500px;
    padding: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(2px) saturate(15%);
    transition: all 0.33s ease;
    border-radius: 15px;
    border: solid #d3d3d3 1px;
    box-shadow: -10.5px 12px 22px 5.5px #d3d3d3;
}

main .verification-form .container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

main .verification-form .container h1 {
    letter-spacing: 3.5px;
    color: #50e3c2;
}

main .verification-form .container h3 {
    color: #656d78;
    position: relative;
    top: -15px;
}

main .verification-form .container h3 #label-email-direction{
    color: #50e3c2;
}

main .verification-form .container h5:last-child {
    color: #070707;
}

main .verification-form .container #label-code {
    color: #656d78;
}

main .verification-form .container #code-container {
    width: 100%;
    display: flex;
    flex: colum;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    gap: 25px;
}


main .verification-form .container #code-container input[type=text] {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 65px;
    border-radius: 2.5px;
    background: #f9f9f9;
    font-size: 22px;
    color: #696969;
    border: solid #d3d3d3 1px;
    text-align: center;
}


main .verification-form .container #code-container input[type=text]:hover ,
main .verification-form .container #code-container input[type=text]:focus {
    border: solid #50e3c2 0.5px;
    background: #f9f9f9;
    transition: all 0.33s ease;
}

main .verification-form .container #button-verification {
    display: block;
    width: 100%;
    height: 55px;
    border-radius: 5.5px;
    outline: none;
    cursor: pointer;
    background: #50e3c2;
    border: none;
    color: #f9f9f9;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

main .verification-form .container #button-verification:hover,
main .verification-form .container #button-verification:focus {
    background: #f9f9f9;
    outline-offset: 0.3vh;
    outline: solid #656d78 2.5px;
    transition: all 0.33s ease;
    color: #50e3c2;
    box-shadow: -5px 5px 12px 4px #d3d3d3;
    transition: all 0.33s ease;
    transform: translateY(-2.5px);
}

main .verification-form .container h5 a {
    text-decoration: none;
    color: #656d78;  
}

main .verification-form .container h5 a:hover {
    color: #50e3c2;
    text-decoration: underline;
}

/* RESPONSIVE QUERY 728px */

@media (max-width: 900px) {

    main .verification-form {
        border: none;
        box-shadow: none;
        width: 100%;
        
    }

    main .verification-form .container #code-container .digit{
        width: 55px;
        
    }

    
}