#password-option-section {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    transition: all 0.3s;
}

#password-option-section div{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    gap: 5.5px;
}

#password-option-section #remember-me-chkbox{
    display: flex;
    position: relative;
    cursor: pointer;
    top: 5px;
}

#password-option-section #label-remember {
    display: block;
    color: #656d78;
    transition: all 0.3s;
}

#password-option-section label:hover, #password-option-section div:hover label {
    color: #50e3c2;
    cursor: pointer;
}



