* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
}

nav a {
    color: #696969;
    text-decoration: none;
    padding: 16px;
}

nav a:hover {
    background-color: darkblue;
    color: white;
}