* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: #f9f9f9;
}

body div {
    float: none;
}

/* HEADER */

header {
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header #logo {
    display: block;
    width: 150px;
    height: 100%;
    margin: 0px;
    padding: 5px 0px 5px 0px;
    object-fit: contain;
}

header .button {
    position: absolute;
    right: 15px;
}

header .button a {
    display: flex;
}


header .button a .bar {
    margin: 0px;
    padding: 0px;
    width: 25px;
    height: 2.5px;
    background-color: #696969;
    border-radius: 2.5px;
    cursor: pointer;
}

header .button a #bar-1 {
    transform:  translateX(13px) rotate(45deg);
    
}

header .button a #bar-2 {
    transform:  translateX(-13px) rotate(-45deg);
}

/* MAIN  */

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* LOGIN */

main .login-form {
    width: 500px;
    padding: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(2px) saturate(15%);
    transition: all 0.33s ease;
    border-radius: 15px;
    border: solid #d3d3d3 1px;
    box-shadow: -10.5px 12px 22px 5.5px #d3d3d3;
}

main .login-form .container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
}

main .login-form .container h1 {
    letter-spacing: 3.5px;
    color: #50e3c2;
}

main .login-form .container h3 {
    color: #656d78;
    position: relative;
    top: -15px;
}

main .login-form .container h5:last-child {
    color: #070707;
}

main .login-form .container #label-email,  
main .login-form .container #label-password {
    color: #656d78;
}

main .login-form .container .password-option{
    display: flex;
    flex-direction: row;
    justify-content:c enter;
    align-items: center;
    width: 100%;
}

main .login-form .container .password-option #label-remember {
    color: #656d78;
    position: absolute;
    right: 50px;
    font-size: 14px;
}

main .login-form .container .password-option #label-remember:hover,
main .login-form .container .password-option input[type=checkbox]:hover  {
    color: #50e3c2;
    cursor: pointer;
}


main .login-form .container input[type=email], 
main .login-form .container input[type=password] {
    margin: 0px;
    padding: 0px 5px 0px 12px;
    width: 100%;
    height: 55px;
    border-radius: 2.5px;
    background: transparent;
    outline: none;
    font-size: 16px;
    border: 1px solid #ccc;
    letter-spacing: 1.2px;
    position: relative;
    top: -15px;
}


main .login-form .container input:hover ,
main .login-form .container input:focus {
    border: solid #50e3c2 0.2px;
    background: #f9f9f9;
    transition: all 0.33s ease;
}

main .login-form .container input::placeholder {
    opacity: 85%;
}


main .login-form .container #button-login {
    display: block;
    width: 100%;
    height: 55px;
    border-radius: 5.5px;
    outline: none;
    cursor: pointer;
    background: #50e3c2;
    border: none;
    color: #f9f9f9;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

main .login-form .container #button-login:hover {
    background: #f9f9f9;
    outline-offset: 0.3vh;
    outline: solid #656d78 2.5px;
    transition: all 0.33s ease;
    color: #50e3c2;
    box-shadow: -5px 5px 12px 4px #d3d3d3;
    transition: all 0.33s ease;
    transform: translateY(-2.5px);
}

main .login-form  .container a { 
    text-decoration: none;
    color: #656d78;
}

main .login-form  .container a:hover { 
    color: #50e3c2;
    text-decoration: underline;
}



/*---------------------------MEDIA QUERY-----------------------------*/

/* RESPONSIVE 1200PX */

@media (max-width: 1200px) {


}

/* END RESPONSIVE 1200 */

/* RESPONSIVE 980PX */

@media (max-width: 900px) {

   
}

/* END RESPONSIVE 980 */

/* RESPONSIVE 768PX */

@media (max-width: 768px) {

    main .login-form {
        box-shadow: none;
        border: none;
        width: 100%;
    }

    main .login-form .container{
        width: 80%;
    }

    header .button {
        right: 35px;
    }

}
/* END RESPONSIVE main 768 */



