* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* BODY */

body {
    background-color: #f9f9f9;
}

body div {
    float: none;
}

/* HEADER */

header {
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header #logo {
    display: block;
    width: 150px;
    height: 100%;
    margin: 0px;
    padding: 8px;
    object-fit: contain;
}

header .button {
    position: absolute;
    right: 15px;
}

header .button a {
    display: flex;
}

header .button a .bar {
    margin: 0px;
    padding: 0px;
    width: 25px;
    height: 2.5px;
    background-color: #696969;
    border-radius: 2.5px;
    cursor: pointer;
}

header .button a #bar-1 {
    transform:  translateX(13px) rotate(45deg);
    
}

header .button a #bar-2 {
    transform:  translateX(-13px) rotate(-45deg);
}
/* MAIN */

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* RECOVER FORM */

main .recover-form {
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: -10.5px 12px 22px 5.5px #d3d3d3;
}

main .recover-form #recover-container {
    width: 500px;
    height: auto;
    padding: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(2px) saturate(15%);
    border: solid #d3d3d3 1px;
    border-radius: 15px;
    text-align: justify;
    gap: 10px;
}

main .recover-form #recover-container .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

/* RECOVER SECTION */

main .recover-form #recover-container h1 {
    color: #50e3c2;
}

main .recover-form #recover-container .container h3 {
    color: #656d78;
    position: relative;
    top: -10px
}

main .recover-form #recover-container .container #label-email {
    color:  #656d78;
}

main .recover-form #recover-container .container .input-field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main .recover-form #recover-container .container .input-field div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 55px;
    border-radius: 5.5px;
    border: solid #d3d3d3 1px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

main .recover-form #recover-container .container .input-field #email-icon {
    display: block;
    width: 25px;
    height: 25px;
    filter: opacity(55%);
    object-fit: contain;
}

main .recover-form #recover-container .container .input-field:hover #email-icon{
    filter: invert(96%) sepia(98%) saturate(810%) hue-rotate(83deg) brightness(103%) contrast(78%);
}

main .recover-form #recover-container .container .input-field input[type=email]{
    padding: 0px 5px 0px 12px;
    width: 100%;
    height: 55px;
    border-radius: 5.5px;
    background: transparent;
    outline: none;
    font-size: 16px;
    border: solid #d3d3d3 1px ;
    letter-spacing: 1.2px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: none;
}

main .recover-form #recover-container .container .input-field:hover div,
main .recover-form #recover-container .container .input-field:hover input {
    border-color: #50e3c2;
}

main .recover-form #recover-container .container #button-send {
    display: block;
    width: 100%;
    height: 55px;
    border-radius: 5.5px;
    outline: none;
    cursor: pointer;
    background: #50e3c2;
    border: none;
    color: #f9f9f9;
    font-size: 20px;
}

main .recover-form #recover-container .container #button-send:hover,
main .recover-form #recover-container .container #button-send:focus  {
    background: #f9f9f9;
    outline-offset: 0.3vh;
    outline: solid #656d78 2.5px;
    transition: all 0.33s ease;
    color: #50e3c2;
    box-shadow: -5px 5px 12px 4px #d3d3d3;
    transition: all 0.33s ease;
    transform: translateY(-2.5px);
}

main .recover-form #recover-container #label-email-message {
    color: #656d78;
    font-size: 12px;
    display: none;
}

/* CODE SECTION */

main .recover-form #recover-container #code-section {
    display: none;
}

main .recover-form  #recover-container .container h3 #label-email-direction{ 
    color: #50e3c2;
}

main .recover-form #recover-container .container #label-code {
    color: #656d78;
}

main .recover-form #recover-container .container #code-container {
    width: 100%;
    display: flex;
    flex: colum;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    gap: 25px;
}

main .recover-form #recover-container .container #code-container input[type=text] {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 65px;
    border-radius: 2.5px;
    background: #f9f9f9;
    font-size: 22px;
    color: #696969;
    border: solid #d3d3d3 1px;
    text-align: center;
}


main .recover-form #recover-container .container #code-container input[type=text]:hover ,
main .recover-form #recover-container .container #code-container input[type=text]:focus {
    border: solid #50e3c2 0.5px;
    background: #f9f9f9;
    transition: all 0.33s ease;
}

main .recover-form #recover-container .container #button-reset {
    display: block;
    width: 100%;
    height: 55px;
    border-radius: 5.5px;
    outline: none;
    cursor: pointer;
    background: #50e3c2;
    border: none;
    color: #f9f9f9;
    font-size: 20px;
}

main .recover-form #recover-container .container #button-reset:hover,
main .recover-form #recover-container .container #button-reset:focus {
    background: #f9f9f9;
    outline-offset: 0.3vh;
    outline: solid #656d78 2.5px;
    transition: all 0.33s ease;
    color: #50e3c2;
    box-shadow: -5px 5px 12px 4px #d3d3d3;
    transition: all 0.33s ease;
    transform: translateY(-2.5px);
}

main .recover-form #recover-container .container #button-reset:hover {
    background: #f9f9f9;
    outline-offset: 0.3vh;
    outline: solid #656d78 2.5px;
    transition: all 0.33s ease;
    color: #50e3c2;
    box-shadow: -5px 5px 12px 4px #d3d3d3;
    transition: all 0.33s ease;
    transform: translateY(-2.5px);
}

main .recover-form  #recover-container .container a { 
    text-decoration: none;
    color: #656d78;
}

main .recover-form  #recover-container .container a:hover { 
    color: #50e3c2;
    text-decoration: underline;
}

main .recover-form #recover-container #label-code-message {
    color: #656d78;
    font-size: 12px;
    display: none;
}

/* RESULT SECTION */

main .recover-form #recover-container #result-section {
    display: none;
}

main .recover-form #recover-container .container a {
    width: 100%;
}

main .recover-form #recover-container .container a {
    text-decoration: none;
}

main .recover-form #recover-container .container a #button-continue {
    display: block;
    width: 100%;
    height: 55px;
    border-radius: 5.5px;
    outline: none;
    cursor: pointer;
    background: #50e3c2;
    border: none;
    color: #f9f9f9;
    font-size: 20px;
}

main .recover-form #recover-container .container a #button-continue:hover,
main .recover-form #recover-container .container a #button-continue:focus {
    background: #f9f9f9;
    outline-offset: 0.3vh;
    outline: solid #656d78 2.5px;
    transition: all 0.33s ease;
    color: #50e3c2;
    box-shadow: -5px 5px 12px 4px #d3d3d3;
    transition: all 0.33s ease;
    transform: translateY(-2.5px);
}

/* RESPONSIVE 900px*/

@media (max-width: 900px) {

    main .recover-form {
        box-shadow: none;
        width: 100%;
    }

    main .recover-form #recover-container {
        border: none;
        width: 100%;
    }

    main .recover-form #recover-container .container{
        width: 100%;
    }
}