
main #login-section {
    width: 500px;
    height: auto;
    padding: 45px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(2px) saturate(15%);
    border: solid #d3d3d3 1px;
    border-radius: 15px;
    text-align: justify;
}

main #login-section h1 {
    color: #50e3c2;
}

main #login-section h3 {
    color: #656d78;
    position: relative;
    top: -10px
}

main #login-section h5:last-child {
    color: #070707;
}

main #login-section #label-email,  
main #login-section #label-password {
    color: #656d78;
}

main #login-section #label-email-message ,
main #login-section #label-password-message {
    color: #656d78;
    font-size: 12px;
    display: none;
}

main #login-section .input-field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main #login-section .input-field div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 55px;
    border-radius: 5.5px;
    border: solid #d3d3d3 1px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

main #login-section .input-field div #email-icon,
main #login-section .input-field div #padlock-icon {
    display: block;
    width: 25px;
    height: 25px;
    filter: opacity(55%);
    object-fit: contain;
}

main #login-section .input-field:hover #email-icon,
main #login-section .input-field:hover #padlock-icon {
    filter: invert(96%) sepia(98%) saturate(810%) hue-rotate(83deg) brightness(103%) contrast(78%);
}


main #login-section .input-field input[type=email], 
main #login-section .input-field input[type=password] {
    padding: 0px 5px 0px 12px;
    width: 100%;
    height: 55px;
    border-radius: 5.5px;
    background: transparent;
    outline: none;
    font-size: 16px;
    border: solid #d3d3d3 1px ;
    letter-spacing: 1.2px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: none;
}

main #login-section .input-field:hover div,
main #login-section .input-field:hover input {
    border-color: #50e3c2;
}

main #login-section input::placeholder {
    opacity: 85%;
}

main #login-section #recaptcha-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main #login-section #recaptcha-section .g-recaptcha {
    display: none;
}

main #login-section #login-button {
    display: block;
    width: 100%;
    height: 55px;
    border-radius: 5.5px;
    outline: none;
    cursor: pointer;
    background: #50e3c2;
    border: none;
    color: #f9f9f9;
    font-size: 20px;
    
}

main #login-section #login-button:hover,
main #login-section #login-button:focus {
    background: #f9f9f9;
    outline-offset: 0.3vh;
    outline: solid #656d78 2.5px;
    transition: all 0.33s ease;
    color: #50e3c2;
    box-shadow: -5px 5px 12px 4px #d3d3d3;
    transition: all 0.33s ease;
    transform: translateY(-2.5px);
}


main #login-section #password-option-section {
    display: flex;
    flex-direction: row;
    justify-content:c enter;
    align-items: center;
    width: 100%;
}

main #login-section #password-option-section #label-remember {
    color: #656d78;
    position: absolute;
    right: 50px;
    font-size: 14px;
}

main #login-section #password-option-section #label-remember:hover,
main #login-section #password-option-section input[type=checkbox]:hover  {
    color: #50e3c2;
    cursor: pointer;
}

main  #login-section a { 
    text-decoration: none;
    color: #656d78;
}

main  #login-section a:hover { 
    color: #50e3c2;
    text-decoration: underline;
}

/* RESPONSIVE 900px */

@media (max-width: 900px) {

    main #login-section {
        border: none;
        width: 100%;
    }

}
/* END RESPONSIVE 900px */



