
/* REGISTER FORM */

main #register-container {
    width: 500px;
    height: auto;
    padding: 45px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(2px) saturate(15%);
    border: solid #d3d3d3 1px;
    border-radius: 15px;
    text-align: justify;
}

main #register-container h1 {
    color: #50e3c2;
}

main #register-container h3 {
    color: #656d78;
    position: relative;
    top: -10px;
}

main #register-container #label-name,
main #register-container #label-email ,
main #register-container #label-password {
    color: #656d78;
    position: relative;
}

main #register-container #label-name-message,
main #register-container #label-email-message ,
main #register-container #label-password-message {
    color: #656d78;
    position: relative;
    font-size: 12px;
    display: none;
}

main #register-container .input-field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main #register-container .input-field div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 55px;
    border-radius: 5.5px;
    border: solid #d3d3d3 1px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

main #register-container .input-field div #user-icon,
main #register-container .input-field div #email-icon,
main #register-container .input-field div #padlock-icon {
    display: block;
    width: 25px;
    height: 25px;
    filter: opacity(55%);
    object-fit: contain;
}

main #register-container .input-field input[type=text], 
main #register-container .input-field input[type=email],
main #register-container input[type=password] {
    padding: 0px 8px 0px 10px;
    border: solid #d3d3d3 1px;
    width: 100%;
    height: 55px;
    border-radius: 5.5px;
    font-size: 16px;
    line-height: 55px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: none;
    
}


main #register-container .input-field:hover div,
main #register-container .input-field:hover input {
    border-color: #50e3c2;
    outline: none;
}

main #register-container .input-field:hover div #user-icon,
main #register-container .input-field:hover div #email-icon ,
main #register-container .input-field:hover div #padlock-icon {
    filter: invert(96%) sepia(98%) saturate(810%) hue-rotate(83deg) brightness(103%) contrast(78%);
}

main #register-container .input-field input::placeholder {
    opacity: 85%;
}

main #register-container #recaptcha-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main #register-container #recaptcha-section .g-recaptcha {
    display: none;
}

main #register-container button[type=button] {
    width: 100%;
    height: 55px;
    border: none;
    background: #50e3c2;
    color: #f9f9f9;
    font-size: 16px;
    border-radius: 5.5px;
    cursor: pointer;
}

main #register-container button[type=button]:hover,
main #register-container button[type=button]:focus {
    
    background: #f9f9f9;
    outline-offset: 0.3vh;
    outline: solid #656d78 2.5px;
    transition: all 0.33s ease;
    color: #50e3c2;
    box-shadow: -5px 5px 12px 4px #d3d3d3;
    transition: all 0.33s ease;
    transform: translateY(-2.5px);
}

main #register-container h5 a {
    text-decoration: none;
    color: #656d78;
}

main #register-container h5 a:hover{
    text-decoration: underline;
    color: #50e3c2;
}

/* FOOTER */
footer {
    position: relative;
    top: 20px;
    padding: 0px 0px 10px 0px;
}

/* RESPONSIVE 900PX */

@media (max-width:900px) {

    main #register-container {
        border: none;
        width: 100%;
    }

}